.idea
/.vscode
/venv
/generator/venv
.env
*.pyc
/.pytest_cache
src/__pycache__
src/commons/__pycache__
src/models/__pycache__
src/services/__pycache__
generator/__pycache__
tests/__pycache__
tests/commons/__pycache__
tests/models/__pycache__
tests/services/__pycache__
tests/generator/__pycache__
tests/helpers/__pycache__
